h1 {
    color:rgb(0, 0, 0);
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace

}
body 
{
    background-color:aquamarine;
background-image: url("marmurek.webp");
background-position: left; 
    border-style: groove;
    border-width: 50;

    display: flex;
    justify-content: center;
}
.center-text {
    text-align: center;
}
.Obrazek{
width:500px;
    height:200px;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}

.img-kciuk{

}
.image-container {
    overflow: hidden;
    width: 50%;
    max-width: 200px; /* Maksymalna szerokość kontenera */
    height: auto;
}

.moving-image {
    width: 100%; /* Dopasowanie szerokości obrazka do kontenera */
    animation: moveHorizontally 10s linear infinite;
    width: 150px;
   height: 150px;
 
   background-size: 100%;
    background-position: center;
}

@keyframes moveHorizontally {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }

