h1 {
    color:rgb(0, 0, 0);
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace

}
body 
{
    background-color:aquamarine;
background-image: url("marmurek.webp");
background-position: center; 
    border-style: groove;
    border-width: 50;
}
.center-text {
    text-align: center;
}

.img-kciuk{
width: 300px;
height: 200px;
  background-image: url("kciuk.png");
   background-size: 100%;
    background-position: center;
}

